$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$main_red_color: #da2324;
$font_color: #fff;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_raleway.scss";
@import "compass";

.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

html, body { height: 100%; }

* { margin: 0; }

body { padding: 0; background-color: $main_red_color; width: 100%; font-family: 'raleway', sans-serif; color: $font_color; }

.relative { position: relative; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer { padding-left: 15px; padding-right: 15px; }

/* Custom page header */
.header { 

	/* Make the masthead heading the same height as the navigation */
	h3 { margin-top: 0; margin-bottom: 0; line-height: 40px; padding-bottom: 20px; }

	.social-bar { width: 250px; height: 40px; float: right; background: #000; 

		i.fa { font-size: 30px; }

	}

}

.nav {

	&.navbar-nav { margin-right: 20px; margin-top: 25px; }

	& > li > a { color: $font_color; opacity: 0.7; font-size: 16px; padding: 10px 20px; cursor: pointer;

		&:hover, &:focus { background: none; opacity: 1; }

	}

}

.navbar { 

	background-color: #b21e20;
	@include filter-gradient(#b21e20, #9b1b1f, horizontal); 
	@include background-image(linear-gradient(left,  #b21e20 0%,#db2223 50%,#9b1b1f 100%)); 

}

a.btn { font-size: 18px; line-height: 38px; font-weight: 600; color: $font_color; height: 53px; }

.container.slider { float: left; margin-top: -42px; height: 563px; background: url("../images/slider_1.jpg"); 

	div[class*="slide-"] { height: inherit; position: relative;

		&:before { content: ''; background: $main_red_color; opacity: 0.6; width: 100%; height: inherit; display: block; position: absolute; top: 0; left: 0; }

		.text { position: relative; top: 192px; left: 38px;

			p { line-height: 30px;

				&.title { font-size: 36px; font-weight: 600; }

				&.description { font-size: 24px; margin-top: 20px; }

			}

		}

		.call-to-action { padding: 25px 55px; background: rgba(0,0,0,0.7); height: 218px; width: 386px; position: absolute; top: 170px; right: 53px; -webkit-box-shadow: 5px 5px 0px -1px rgba(0,0,0,0.3); -moz-box-shadow: 5px 5px 0px -1px rgba(0,0,0,0.3); box-shadow: 5px 5px 0px -1px rgba(0,0,0,0.3);

			p { font-weight: 100; font-size: 23px; line-height: 30px; letter-spacing: 3px; }

			a.btn.red { background: $main_red_color; min-width: 276px; }

		}

	}

}

.container.hero { padding-bottom: 40px; overflow: hidden;

	background-color: #9b1b1f; 
	@include filter-gradient(#9b1b1f, #9b1b1f, horizontal); 
	@include background-image(linear-gradient(left top,  #9b1b1f 0%,#db2223 50%,#9b1b1f 100%));

	.logo-hero { width: 33%; height: 135px; background: url("../images/logo_hero.png") center no-repeat; margin: 0 auto; }

	.swirl { width: 33%; height: 100%; display: block; position: absolute; top: -21px; 

		&.left { background: url("../images/swirl_left.png") 0 0 no-repeat; left: 55px; }

		&.right { background: url("../images/swirl_right.png") 0 0 no-repeat; right: 55px; }

	}

	.hero-wrapper { display: inline-block; margin: 0 auto 40px; position: relative; }

	a.btn.black { background: #000; padding: 10px 40px; line-height: 34px; }

}

.container.cant-find { clear: both; padding: 100px 100px 85px 155px; position: relative;

	background: #3d3d3d; 
	background: -moz-linear-gradient(left,  #3d3d3d 0%, #000000 100%);
	background: -webkit-linear-gradient(left,  #3d3d3d 0%,#000000 100%); 
	background: linear-gradient(to right,  #3d3d3d 0%,#000000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#000000',GradientType=1 ); 

	&:before { content: ''; background: url("../images/swirl_left.png") 420px -70px no-repeat; background-size: 70%; display: block; width: 100%; height: 100%; position: absolute; top: 0; right: 0 }

	p { font-size: 29px; padding-left: 50px; position: relative; letter-spacing: 0.3px;

		&:before { content: ''; background: url("../images/search.svg") no-repeat 0 0; display: block; width: 30px; height: 40px; position: absolute; top: 0; left: 10px; }

		a { color: $main_red_color; }

	}

}

.navbar, .container { width: 100%; }

.border-gradient { width: 100%; height: 1px; background: #fefcea; background: linear-gradient(to right, transparent, #6F2A2A); margin-top: 7px; }

/* Custom page footer */
.footer { 

	.container { padding: 15px 0 15px 50px;

		a { color: #fff; margin-left: 10px; cursor: pointer;

			&:hover { color: #fff;  }

		}

		.footer-social { display: inline-block; float: right; font-size: 30px; line-height: 29px; position: relative; top: -5px; right: 10px; 

			i { opacity: 0.3; 

				&:hover { opacity: 1; }

			}

		}

	}

}

.container-narrow > hr { margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron { text-align: center; border-bottom: 1px solid #e5e5e5;

	.btn { font-size: 21px; padding: 14px 24px; }

}

/* Supporting marketing content */
.marketing { margin: 40px 0;

	p + h4 { margin-top: 28px; }

}

.logo { background: url("../images/logo.svg") 0 0 no-repeat; width: 267px; height: 66px; margin-top: 10px; margin-left: 52px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer { padding-left: 0; padding-right: 0; }

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron { border-bottom: 0; }

}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-top { vertical-align: top; }
.align-middle { vertical-align: middle; }
.align-bottom { vertical-align: bottom; }
