<div class="container">
	<div class="row no-margin">
		<div class="col-md-6 hero">
			<div class="hero-img"></div>
		</div>
		<div class="col-md-6">
			<div class="event-details">
				<h2>BILLIARDS NIGHT</h2>
				<div class="when">NOV 2 at 8:00 PM</div>
				<div class="what">Luckie's Tavern</div>
				<div class="where">10 Market Place</div>
				<div class="where">Baltimore, MD 21202</div>
			</div>
		</div>
	</div>
	<div class="row no-margin purchase-list">
		<h3>PURCHASE TICKETS</h3>
		<table class="table">
			<colgroup>
				<col width="70%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
			</colgroup>
			<thead>
				<tr>
					<th>Event</th>
					<th class="align-right">Price</th>
					<th class="align-right">Quantity</th>
					<th class="align-right">Subtotal</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Billiards Night at Big Daddy’s Billiards</td>
					<td class="align-right">$50.00</td>
					<td class="align-right">2</td>
					<td class="align-right">$50.00</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row no-margin promo-code">
		<div class="col-md-4 pull-right">
			<span>Use a promotion code or gift card</span>
			<input name="coupon" type="text" >
		</div>
	</div>
	<div class="row no-margin order-total">
		<div class="col-md-4 pull-right">Order Total: $50.00</div>
	</div>
	<div class="row no-margin payment-method">
		<div class="col-md-6">
			<table>
				<tr>
					<td>
						<div>First Name</div>
						<input type="text">
					</td>
					<td>
						<div>Last Name</div>
						<input type="text">
					</td>
				</tr>
				<tr>
					<td>
						<div>Email Address</div>
						<input type="text">
					</td>
					<td>
						<div>Verify Email Address</div>
						<input type="text">
					</td>
				</tr>
				<tr>
					<td>
						<div>Card Number</div>
						<input type="text">
					</td>
					<td>
						<div>CVC (code on back of card)</div>
						<input type="text">
					</td>
				</tr>
				<tr>
					<td>
						<div>Expiration (MM/YYYY)</div>
						<input type="text">
					</td>
					<td>
						<div>Zip Code</div>
						<input type="text">
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<a href="">View Terms and Conditions</a>
			<input name="no_children" id="no_children" type="checkbox">
			<label for="no_children">I and all members of my party are over 21 years of age. I understand that CreativeDatesTM events are not intended for children.</label>

			<input name="accept_terms" id="accept_terms" type="checkbox">
			<label for="accept_terms">I accept these terms and conditions.</label>

			<a href="" class="btn black">Purchase Tickets</a>
		</div>
	</div>
</div>