<div class="container slider">
	<div class="slide-1">
		<div class="text col-md-6">
			<p class="title">Sick of the same routine?</p> 
			<p class="title">Introducing CreativeDatesTM</p>
			<p class="description">Roll solo, grab a date or bring the girlfriends to this new and exciting endeavor! From crafts to wine tasting to dancing, you’ll find and event for you.</p>
		</div>
		<div class="call-to-action">
			<p>CHECK OUT OUR UPCOMING EVENTS NEAR YOU!</p>
			<a class="btn red">Get the Party Started!</a>
		</div>
	</div>
	<div class="slide-2" style="display: none;"></div>
	<div class="slide-3" style="display: none;"></div>
</div>

<div class="container hero pull-left align-center">
	<div class="row">
		<div class="swirl left"></div>
		<div class="logo-hero"></div>
		<div class="swirl right"></div>
	</div>
	<div class="hero-wrapper">
		<img src="images/hero_home.jpg">
	</div>
	<div class="btn-wrapper align-center">
		<a class="btn black">Find Upcoming Events</a>
	</div>
</div>